/* place in settings>advanced>edit head markup
<style>
    :root{
        --dxp-g-root: #242424;
        --dxp-g-root-contrast: #f143f7;
        --dxp-g-root-1: #f143f7;
        --dxp-g-root-contrast-1: #FFFFFF;
        --dxp-g-brand: #f143f7;
        --dxp-g-brand-contrast: #FFFFFF;
        --dxp-g-brand-1: #f143f7;
        --dxp-g-brand-contrast-1: #FFFFFF;
        --dxp-g-success: #f143f7;
        --dxp-g-success-contrast: #FFFFFF;
        --dxp-g-success-1: #f143f7;
        --dxp-g-success-contrast-1: #FFFFFF;
        --dxp-g-info: #f143f7;
        --dxp-g-info-contrast: #FFFFFF;

        --dxp-s-button-color: #f143f7;
        --dxp-s-text-heading-medium-color: #f143f7;
    }
</style> */
.footerStyles{
    display: flex;
    padding: auto;
}
.headerStyles{
    display: flex;
    padding: auto;
}
.sidebar{
    display: flex;
    padding: auto;    
    flex-direction: column;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.bodyContainer{
    display: flex;
    gap: 10px;
    padding: auto;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: stretch;
}
.bodyMainContent{
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bodySidebar{
    flex: auto;
}